<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Trace"
      internalLogFile="c:\temp\internal-nlog.txt">

	<targets>
		<!-- Target for writing log messages to a file -->
		<target xsi:type="File" name="fileTarget" fileName="logfile.txt"/>

	</targets>

	<rules>
		<!-- Log messages with level Debug and higher to the file target -->
		<logger name="*" minlevel="Debug" writeTo="fileTarget" />

		<!-- Log messages with level Info and higher to the file target -->
		<logger name="*" minlevel="Info" writeTo="fileTarget" />

		<!-- Log messages with level Warn and higher to the file target -->
		<logger name="*" minlevel="Warn" writeTo="fileTarget" />

		<!-- Log messages with level Error and higher to the file target -->
		<logger name="*" minlevel="Error" writeTo="fileTarget" />

		<!-- Log messages with level Fatal to the file target -->
		<logger name="*" minlevel="Fatal" writeTo="fileTarget" />
	</rules>
</nlog>
